div(class="large-6 columns top-leads")
  h4 Lead Winner: {{winner}}
  h4 Wins: {{wins}}
div(class="large-6 columns top-leads")
  h4 Lead Loser: {{loser}}
  h4 Losses: {{losses}}
div(class="large-4 columns bot-leads")
  h5 Lead Streak: {{streaker}}
  h5 Streak: {{streak}}
div(class="large-4 columns bot-leads")
  h5 Lead Deleter: {{deleter}}
  h5 Deletes: {{dels}}
div(class="large-4 columns bot-leads")
  h5 Lead KPS: {{kpser}}
  h5 KPS: {{kps}}