div(class="large-6 large-centered columns")  
  button(class="start-game expand", ng-click="getPhrase()", ng-hide="phrase")
    | Start the Game
h2(class="unselectable", right-click, alert="Stop Cheating!", ng-model="phrase", ng-bind-html-unsafe="phrase") {{phrase}}
input(type="hidden") {{name}}