.container
  .row
    .col-md-12
      h1.main.title.text-center ChuckNorrisAthon (v2)
  .row
    .col-md-4.col-md-offset-4   
      form.main.form(ng-submit="submit(playerName)")
        input.form-control(type="text", placeholder="Player name", autofocus, required, ng-model="playerName")
        button.btn.btn-block(type="submit") Jump in
    .col-md-4
      .alert.alert-danger(ng-show="message")
        p(ng-model="message") {{ message }}
  .row
    .col-md-6.col-md-offset-3
      p.main.intro Hello there, my name is Jace. This project originally started out as a class final that I decided to use a bunch of newer technologies for. Now it's my on going pet project. All of the jokes used in this game are provided by an awesome API I accidently stumbled upon, api.icndb.com. 
      p.main.intro Also, here is a link to the <a href="https://github.com/jacepp/ChuckNorrisAthon/tree/v2">source code</a>. Feel free to report issues, fork the project, or give feedback. Hope you enjoy! 