// Global Foundation Settings
@import "compass";
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

body {
  background-color: #474747;
}

h1 {
  padding: emCalc(2px);
  color: $secondary-color;
  background-color: $primary-color;
  font-weight: 700;
}

h2 {
  padding: emCalc(50px) emCalc(25px);
  color: $secondary-color;
  letter-spacing: 1px;
}

h3 {
  color: #aaa;
}

h4 {
  letter-spacing: 1px;
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper {
  background-color: $primary-color;
  margin-bottom: emCalc(35px);
}

.main {
  color: #474747;
  background-color: #222;
  text-shadow: inset 0px 2px 3px #555;
  -webkit-box-shadow: inset 0 2px 3px #555;
  -moz-box-shadow: inset 0 2px 3px #555;
  box-shadow: inset 0 2px 3px #555;
  @include border-radius(6px);
}

.text-input {
  padding: emCalc(45px) 0;
}

textarea {
  resize: none;
  margin-bottom: 0;
  &:focus {
    &.wrong-input {
      color: #f6f6f6;
      background-color: #d90000;
    }
  }
}

strong {
  // font-weight: 600;
}

.row.player-list {
  max-width: 1000px;
  padding: emCalc(25px) emCalc(40px);
  background-color: $secondary-color;
  > h3 {
    color: $primary-color;
    margin-bottom: emCalc(8px);
  }
}

p {
  font-size: emCalc(24px);
  margin-bottom: 0;
  &.wins {
    color: $primary-color;
  }
  &.losses {
    color: $red;
  }
}

.players {
  > li {
    margin-left: 0;
    padding: emCalc(25px);
    background-color: $secondary-color;
    border: 1px solid $primary-color;
    min-width: 230px;
    > h4 {
      color: $primary-color;
      border-bottom: 2px solid $primary-color;
    }
    &:first-child {
      background-color: $primary-color;
      > h4 {
        color: $secondary-color;
        border-bottom: 2px solid $secondary-color;
      }
      > p {
        &.wins {
          color: $secondary-color;
        }
      }
    }
  }
}

.inline-list {
  > li {
    display: inline-block;
  }
}

.user-input {
  height: emCalc(130px);
  width: 100%;
  font-size: emCalc(24px);
  line-height: 1.4;
}

span {
  padding: emCalc(1px) 0;
  &.losing {
    color: $dark-red;
    background-color: lighten($red, 10%);
  }
  &.winning {
    color: $secondary-color;
    background-color: $primary-color;
  }
}

.start-game {
  color: $secondary-color;
  margin-top: emCalc(32px);
  margin-bottom: 0;
  font-size: emCalc(48px);
  @include border-radius(1000px);
}

.top-leads {
  padding: emCalc(65px);
  text-align: center;
  background-color: $primary-color;
  h4 {
    color: $secondary-color;
  }
  &:first-child {
    border-right: 3px solid $secondary-color;
  }
}

.bot-leads {
  padding: emCalc(50px);
  text-align: center;
  background-color: $secondary-color;
  border-right: 3px solid $primary-color;
  h5 {
    color: $primary-color;
  }
  &:last-child {
    border: none;
  }
}

.blurb {
  padding: emCalc(40px) emCalc(25px);
  color: #fdfdfd;
  background: #333;
  a {
    color: $primary-color;
  }
}